# Virtual Environment
.venv/
venv/
ENV/

# Vs Code elements
.vscode/

# Pytest elements
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class

# Allure results and reports
allure-results/
allure-report/

# Playwright
test-results/